tagebuch_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:element ref="ns1:text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:fileDesc"/>
        <xs:element ref="ns1:encodingDesc"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:titleStmt"/>
        <xs:element ref="ns1:publicationStmt"/>
        <xs:element ref="ns1:seriesStmt"/>
        <xs:element ref="ns1:sourceDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:author"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:forename"/>
        <xs:element ref="ns1:surname"/>
      </xs:sequence>
      <xs:attribute name="ref" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:publisher"/>
        <xs:element ref="ns1:authority"/>
        <xs:element ref="ns1:distributor"/>
        <xs:element ref="ns1:availability"/>
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:pubPlace"/>
        <xs:element ref="ns1:idno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:orgName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authority">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:orgName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distributor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:orgName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:licence"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="licence">
    <xs:complexType mixed="true">
      <xs:attribute name="target" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubPlace" type="xs:NCName"/>
  <xs:element name="idno">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="seriesStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:title"/>
        <xs:element maxOccurs="unbounded" ref="ns1:respStmt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="respStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:resp"/>
        <xs:element ref="ns1:persName"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="resp" type="xs:string"/>
  <xs:element name="sourceDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:msDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="msDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:msIdentifier"/>
        <xs:element ref="ns1:msContents"/>
        <xs:element ref="ns1:history"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="msIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:country"/>
        <xs:element ref="ns1:region"/>
        <xs:element ref="ns1:settlement"/>
        <xs:element ref="ns1:institution"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country" type="xs:NCName"/>
  <xs:element name="region" type="xs:NCName"/>
  <xs:element name="settlement" type="xs:NCName"/>
  <xs:element name="institution" type="xs:string"/>
  <xs:element name="msContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:textLang"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="textLang">
    <xs:complexType>
      <xs:attribute name="mainLang" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="history">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:origin"/>
        <xs:element ref="ns1:provenance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="origin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:origPlace"/>
        <xs:element ref="ns1:origDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="origPlace" type="xs:NCName"/>
  <xs:element name="origDate">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="when" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="provenance" type="xs:string"/>
  <xs:element name="encodingDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:editorialDecl"/>
        <xs:element ref="ns1:projectDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editorialDecl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:correction"/>
        <xs:element ref="ns1:normalization"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="correction">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="normalization">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="projectDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:ab"/>
        <xs:element ref="ns1:p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ab">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:ref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:body"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:attribute name="ref"/>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="forename" type="xs:NCName"/>
  <xs:element name="surname" type="xs:NCName"/>
  <xs:element name="orgName">
    <xs:complexType mixed="true">
      <xs:attribute name="corresp" type="xs:anyURI"/>
      <xs:attribute name="ref" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="https://gams.uni-graz.at/o:wiesinger.institutions#I\d{1,3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:attribute name="when" type="xs:integer"/>
      <xs:attribute name="when-iso" type="xs:NMTOKEN"/>
      <xs:attribute name="notBefore"></xs:attribute>
      <xs:attribute name="notAfter"></xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="persName">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:forename"/>
        <xs:element ref="ns1:surname"/>
      </xs:choice>
      <xs:attribute name="ref">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="https://gams.uni-graz.at/o:wiesinger.persons#P\d{1,4}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:hi"/>
        <xs:element ref="ns1:lb"/>
        <xs:element ref="ns1:orgName"/>
        <xs:element ref="ns1:pb"/>
        <xs:element ref="ns1:persName"/>
        <xs:element ref="ns1:placeName"/>
        <xs:element ref="ns1:ref"/>
        <xs:element ref="ns1:term"/>
        <xs:element ref="ns1:gap"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="gap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:desc"/>
      </xs:sequence>
      <xs:attribute name="reason" use="required" type="xs:NCName"/>
      <xs:attribute name="resp" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="ref">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:hi"/>
        <xs:element ref="ns1:lb"/>
        <xs:element ref="ns1:orgName"/>
        <xs:element ref="ns1:pb"/>
        <xs:element ref="ns1:persName"/>
        <xs:element ref="ns1:placeName"/>
        <xs:element ref="ns1:term"/>
        <xs:element ref="ns1:gap"/>
      </xs:choice>
      <xs:attribute name="target" use="required" type="xs:anyURI"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="placeName">
    <xs:complexType mixed="true">
      <xs:attribute name="ref" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="https://gams.uni-graz.at/o:wiesinger.places#G\d{1,3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType mixed="true">
      <xs:attribute name="ref" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="https://gams.uni-graz.at/o:wiesinger.terms#S\d{1,3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      
    </xs:complexType>
  </xs:element>
  <xs:element name="lb">
    <xs:complexType/>
  </xs:element>
  <xs:element name="hi">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:term"/>
      </xs:sequence>
      <xs:attribute name="rend" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pb">
    <xs:complexType>
      <xs:attribute name="n" use="required" type="xs:integer"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
